.header {
    position: absolute;
    width: 752px;
    height: 237px;
    background: rgba(45, 112, 83, 1)
}
.title {
    position: absolute;
    width: 134px;
    height: 131px;
    font-family: "adobeinvisfont";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
    margin: 52px 380px 52px 237px;
    @font-face {
        font-family: MyriadPro;
        src: url('../fonts/MyriadPro-Regular.woff'), url('../fonts/MyriadPro-Regular.eot'); 
    }
}
.circle {
    position: absolute;
    width: 144px;
    height: 144px;
    background: rgba(255, 255, 255, 1);
    border-radius: 72px;
    margin: 46px 571px 47px 37px;
}
.rect1 {
    position: absolute;
    width: 87px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    margin: 83px 44px 139px 621px;
    border-radius: 4px;
}
.rect2 {
    position: absolute;
    width: 87px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    margin: 111px 44px 111px 621px;
    border-radius: 4px;
}
.rect3 {
    position: absolute;
    width: 87px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    margin: 139px 44px 83px 621px;
    border-radius: 4px;
}
.container2{
    position: absolute;
    width: 753px;
    height: 444px;
    opacity: 0.40;
    margin-top: 236px;
    margin-left: 8px;
    background: rgba(0, 0, 0, 1)
}
.office{
    position: absolute;
    width: 753px;
    height: 470px;
    margin-top: 237px;
}
.btn1{
    position: absolute;
    width: 344px;
    height: 77px;
    background: rgba(203, 146, 35, 1);
    margin: 579px 213px 25px 203px;
    border: 0;
    font-family: adobeinvisfont;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 47px 30px 46px;
}
.photo{
    margin-top: 759px;
    margin-left: 43px;
}
.name{
    width: 210px;
    height: 27px;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin-top: 129px;
    display: inline-block;
}